*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


html{
    font-size: 62.25%

}
body{
    width:100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color:#262626;  
}

.outside{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

h1{
    animation: scaler 2s ease-in-out  infinite;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:8rem;
    color:#fff;
    transition:all 2s;
    text-shadow: 0 0 20px #ff005b;
    perspective: 10px;
     backface-visibility: hidden;

}
h1::after{
    content:"[NEON_LIGHT]";
    position:absolute;
    left:0;
    top:0;
    color:#ff005b;
    z-index:-1;    
    filter:blur(20px);
}
h1::before{
    content:"[I_LOVE_YOU]";
    position:absolute;
    left:0;
    top:0;
    color:#fff;
    z-index:-1;    
    opacity:0;
    filter: blur(20px);
    animation:on 1s ease-out infinite;       
}

svg{
  
    opacity: 0.4;
    width: 100%;
    height: 100%;
    fill: #ff005b;
}

@keyframes beat {


    0%{
        
        transform: scale(1);
       
    }

    80%{
        
        transform: scale(1.6);

    }

    90% {
       
        transform: scale(2);

    }

    100%{
      
        transform: scale(1);
        
    }
}


@keyframes on{
   0%{ opacity:1
    }
   25%{
       opacity:0;
   }
   50%{
       opacity:0;

   }
   75%{
       opacity:1;
   }
   100%{
       opacity:1;
   }

}

@keyframes scaler{
0%{
   opacity: 0.8; 
   transform: rotate(0deg);
}

30% {
    opacity: 0.8;
    transform: rotate(0deg) scale(1.2);
}
45%
{

    opacity: 0.2;
}




85% {

    opacity: 0.2;
}
100%{
opacity: 0.8;    
transform: rotate(1080deg);
}

}